@charset "UTF-8";
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  margin: 0;
  padding: 0;
  display: revert;
  vertical-align: middle;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ol, ul, ol li, ul li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

table {
  border-collapse: collapse;
}

textarea {
  white-space: revert;
}

a {
  cursor: pointer;
  text-decoration: none;
}

/* html */
html {
  font-size: 62.5%;
}

/* body */
body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", "Hiragino Sans", YuGothic, "Yu Gothic", "メイリオ", Meiryo, sans-serif;
  font-size: 1.8rem;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #4E4E4E;
  background-color: #fff;
}
@media screen and (max-width: 767.98px) {
  body {
    font-size: 1.6rem;
  }
}

.bg-color {
  background-color: #FFFCEF;
}

.container {
  width: 92.18%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767.98px) {
  .container {
    width: 89%;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 1010px;
  }
}

.section-title {
  text-align: left;
}
@media screen and (max-width: 767.98px) {
  .section-title {
    width: 24.4%;
    margin: 0 auto;
    padding: 13.33vw 0;
  }
}
@media screen and (min-width: 768px) {
  .section-title {
    padding: 100px 0 80px;
  }
}

a {
  color: #537685;
  transition: 0.4s;
}
@media screen and (min-width: 768px) {
  a:hover {
    color: #23556A;
  }
}

.btn a {
  box-sizing: border-box;
  display: inline-block;
  color: #537685;
  transition: 0.4s;
  border: #537685 solid 1px;
  border-radius: 100px;
  text-align: center;
  padding: 1% 6.8% 1%;
  font-size: 1.8rem;
}
.btn a:hover {
  background-color: #23556A;
  border-color: #23556A;
  color: #fff;
}

/* --------------------------------
footer
-------------------------------- */
footer {
  width: 100%;
}
footer a {
  display: block;
  width: 100%;
  padding: 2vw 0 3vw;
  background-color: #537685;
  position: relative;
}
@media screen and (max-width: 767.98px) {
  footer a {
    padding: 6vw 0 8vw;
  }
}
@media screen and (min-width: 768px) {
  footer a {
    transition: 0.4s;
  }
  footer a:hover {
    opacity: 0.7;
  }
}
footer a::before {
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 14px 8px;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* --------------------------------
main
-------------------------------- */
#mainvisual {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
@media screen and (max-width: 767.98px) {
  #mainvisual {
    background-image: url(../image/sp-bg-top.jpg);
    height: 100vh;
    height: 100svh;
  }
}
@media screen and (min-width: 768px) {
  #mainvisual {
    height: 100vh;
    background-image: url(../image/bg-top.jpg);
  }
}
#mainvisual .maincontents {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#mainvisual h1 {
  text-align: center;
  font-size: 0;
  line-height: 1;
}
@media screen and (max-width: 767.98px) {
  #mainvisual h1 {
    margin-left: auto;
    margin-right: auto;
    width: 48%;
  }
}
#mainvisual .nav {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 767.98px) {
  #mainvisual .nav {
    -moz-column-gap: 12vw;
         column-gap: 12vw;
  }
}
@media screen and (min-width: 768px) {
  #mainvisual .nav {
    -moz-column-gap: 7.5vw;
         column-gap: 7.5vw;
  }
}
#mainvisual .nav a {
  color: #fff;
  text-shadow: 0px 0px 10px rgba(119, 90, 11, 0.7);
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  #mainvisual .nav a {
    font-size: 2.6rem;
    transition: 0.4s;
  }
  #mainvisual .nav a:hover {
    text-shadow: 0px 0px 10px #624b0b;
  }
}

/* --------------------------------
skill
-------------------------------- */
@media screen and (max-width: 767.98px) {
  #skill .section-title {
    width: 18.4%;
  }
}
@media screen and (min-width: 768px) {
  #skill .skill-contents {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
}
@media screen and (max-width: 767.98px) {
  #skill .skill-read {
    margin-bottom: 9.3vw;
  }
}
@media screen and (min-width: 768px) {
  #skill .skill-read {
    margin-bottom: 60px;
    width: 48%;
  }
}
@media screen and (min-width: 768px) {
  #skill .skill-read P + p {
    margin-top: 40px;
  }
}
#skill .skill-list {
  margin-left: auto;
}
@media screen and (max-width: 767.98px) {
  #skill .skill-list {
    width: 100%;
    padding-bottom: 20vw;
  }
}
#skill .skill-list li {
  background-repeat: no-repeat;
  background-position: left center;
}
@media screen and (max-width: 767.98px) {
  #skill .skill-list li {
    background-size: 5.7vw 5.7vw;
    line-height: 5.7vw;
    padding-left: 8vw;
  }
}
@media screen and (min-width: 768px) {
  #skill .skill-list li {
    background-size: 43px 43px;
    line-height: 43px;
    padding-left: 60px;
  }
}
#skill .skill-list li + li {
  margin-top: 30px;
}
#skill .skill-list li.ps {
  background-image: url(../image/ico-ps.png);
}
#skill .skill-list li.ai {
  background-image: url(../image/ico-ai.png);
}
#skill .skill-list li.xd {
  background-image: url(../image/ico-xd.png);
}
#skill .skill-list li.edit {
  background-image: url(../image/ico-edt.png);
}
#skill .skill-list li.git {
  background-image: url(../image/ico-git.png);
}

/* --------------------------------
works
-------------------------------- */
@media screen and (max-width: 767.98px) {
  #works {
    padding: 0 0 20vw;
  }
}
@media screen and (min-width: 768px) {
  #works {
    padding: 0 0 200px;
  }
}
#works .works-read {
  font-size: 1.8rem;
}
@media screen and (max-width: 767.98px) {
  #works .works-read {
    padding: 0 0 6.6vw;
  }
}
@media screen and (min-width: 768px) {
  #works .works-read {
    padding: 0 0 50px;
  }
}
#works .newworks {
  position: relative;
  width: 88.7%;
  margin: 0 auto;
}
@media screen and (max-width: 767.98px) {
  #works .newworks {
    padding: 7vw 0 14vw;
  }
}
@media screen and (min-width: 768px) {
  #works .newworks {
    padding: 80px 0 150px;
  }
}
#works .newworks .newworks-img {
  position: relative;
  z-index: 55;
}
#works .newworks a {
  color: #4E4E4E;
}
#works .newworks a:hover .newworks-text {
  box-shadow: none;
  border: #23556A solid 1px;
}
#works .newworks .newworks-text {
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
  transition: 0.4s;
}
@media screen and (min-width: 768px) {
  #works .newworks .newworks-text {
    top: 140px;
    position: absolute;
    background-color: #fff;
    right: 0;
    width: 90%;
  }
}
#works .newworks .newworks-text dl {
  line-height: 2;
}
@media screen and (max-width: 767.98px) {
  #works .newworks .newworks-text dl {
    width: 80%;
    padding: 10vw 0;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  #works .newworks .newworks-text dl {
    padding: 50px 0;
    width: 43%;
    margin-left: auto;
  }
}
#works .newworks .newworks-text dl dt {
  font-size: 2.2rem;
}
@media screen and (min-width: 768px) {
  #works .works-list {
    display: flex;
    -moz-column-gap: 35px;
    column-gap: 35px;
  }
}
@media screen and (max-width: 767.98px) {
  #works .works-list li {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-bottom: #DEA12E solid 10px;
  }
  #works .works-list li + li {
    margin-top: 16vw;
  }
}
@media screen and (min-width: 768px) {
  #works .works-list li {
    width: 31.35%;
    border-bottom: #DEA12E solid 10px;
  }
}
#works .works-list a {
  color: #4E4E4E;
}
@media screen and (min-width: 768px) {
  #works .works-list a {
    transition: 0.4s;
  }
  #works .works-list a:hover {
    opacity: 0.7;
  }
}
@media screen and (max-width: 767.98px) {
  #works .works-list .works-text {
    padding: 6vw 4vw 6.5vw;
  }
}
@media screen and (min-width: 768px) {
  #works .works-list .works-text {
    padding: 30px 30px 36px;
  }
}

/* --------------------------------
about
-------------------------------- */
@media screen and (max-width: 767.98px) {
  #about {
    padding: 0 0 20vw;
  }
}
@media screen and (min-width: 768px) {
  #about {
    padding: 0 0 170px;
  }
}
@media screen and (min-width: 768px) {
  #about .about-career {
    background: url(../image/line-career.png) no-repeat center top;
    height: 540px;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
}
@media screen and (max-width: 767.98px) {
  #about .about-career p {
    margin-bottom: 15vw;
    text-align: center;
    position: relative;
  }
  #about .about-career p::before {
    display: block;
    content: "";
    border-radius: 10px;
    background-color: #DEA12E;
    width: 3px;
    height: 10vw;
    position: absolute;
    bottom: -12vw;
    left: 50%;
    transform: translateX(-50%);
  }
  #about .about-career p:last-child {
    margin-bottom: 0;
  }
  #about .about-career p:last-child::before {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  #about .about-career p {
    position: absolute;
    width: 31.25vw;
  }
  #about .about-career p:nth-child(odd) {
    text-align: right;
  }
}
@media screen and (min-width: 768px) {
  #about .about-career .career01 {
    top: 38px;
    right: 134px;
  }
  #about .about-career .career02 {
    top: 114px;
    left: 134px;
  }
  #about .about-career .career03 {
    top: 213px;
    right: 134px;
  }
  #about .about-career .career04 {
    top: 280px;
    left: 134px;
  }
  #about .about-career .career05 {
    top: 360px;
    right: 134px;
  }
  #about .about-career .career06 {
    top: 450px;
    left: 134px;
  }
}
/*# sourceMappingURL=style.css.map */