*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  margin: 0;
  padding: 0;
  display: revert;
  vertical-align: middle;
}
*{
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
ol, ul,ol li, ul li {
  list-style: none;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
table {
  border-collapse: collapse;
}
textarea {
  white-space: revert;
}
a {
  cursor: pointer;
  text-decoration: none;
}
@mixin fz($size: 16) {
  font-size: ($size / 10) + rem;
}

$breakpoints: (
  'sps': 'screen and (max-width: 390px)',//sp時
  'sp': 'screen and (max-width: 767.98px)',//sp時
  'pcall': 'screen and (min-width: 768px)',//PC全体
  'pcmax': 'screen and (min-width: 1280px)',//PC1150以上
) !default;

@mixin mq($breakpoint: pcall) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
@mixin transition-anime04 {
  transition: 0.4s;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
}

$main-color: #DEA12E;
$sub-color: #537685;
$bg-color: #FFFCEF;


/* html */
html {
  font-size: 62.5%;
}

/* body */
body {
  font-family: 'Noto Sans JP', "Hiragino Kaku Gothic ProN", "Hiragino Sans", YuGothic, "Yu Gothic", "メイリオ", Meiryo, sans-serif;
  font-size: 1.8rem;
  line-height: 1.6;
  letter-spacing: .03em;
  color: #4E4E4E;
  background-color: #fff;
  @include mq(sp) {
    font-size: 1.6rem;
  }
}

.bg-color {
  background-color: $bg-color;
}

.container {
  width: 92.18%;
  margin-left: auto;
  margin-right: auto;
  @include mq(sp) {
    width: 89%;
  }
  @include mq(pcall) {
    max-width: 1010px;
  }
}

.section-title {
  text-align: left;
  @include mq(sp) {
    width: 24.4%;
    margin: 0 auto;
    padding: 13.33vw 0;
  }
  @include mq(pcall) {
    padding: 100px 0 80px;
  }
}

a {
  color: #537685;
  @include transition-anime04;
  @include mq(pcall) {
    &:hover {
      color: #23556A;
    }
  }
}

.btn {
  a {
    box-sizing: border-box;
    display: inline-block;
    color: #537685;
    @include transition-anime04;
    border: #537685 solid 1px;
    border-radius: 100px;
    text-align: center;
    padding: 1% 6.8% 1%;
    font-size: 1.8rem;

    &:hover {
      background-color: #23556A;
      border-color: #23556A;
      color: #fff;
    }
  }
}

/* --------------------------------
footer
-------------------------------- */
footer {
  width: 100%;

  a {
    display: block;
    width: 100%;
    padding: 2vw 0 3vw;
    background-color: $sub-color;
    position: relative;
    @include mq(sp) {
      padding: 6vw 0 8vw;
    }
    @include mq(pcall) {
      @include transition-anime04;
      &:hover {
        opacity: .7;
      }
    }

    &::before {
      display: block;
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 8px 14px 8px;
      border-color: transparent transparent #fff transparent;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

/* --------------------------------
main
-------------------------------- */
#mainvisual {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  @include mq(sp) {
    background-image: url(../image/sp-bg-top.jpg);
    height: 100vh;
    height: 100svh;
  }
  @include mq(pcall) {
    height: 100vh;
    background-image: url(../image/bg-top.jpg);
  }

  .maincontents {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }//maincontents

  h1 {
    text-align: center;
    font-size: 0;
    line-height: 1;
    @include mq(sp) {
      margin-left: auto;
      margin-right: auto;
      width: 48%;
    }
  }//h1

  .nav {
    @include flex-center;
    @include mq(sp) {
      column-gap: 12vw;
    }
    @include mq(pcall) {
      column-gap: 7.5vw;
    }

    a {
      color: #fff;
      text-shadow: 0px 0px 10px rgba(119, 90, 11, 0.7);
      font-weight: 500;
      @include mq(pcall) {
        font-size: 2.6rem;
        @include transition-anime04;
        &:hover {
          text-shadow: 0px 0px 10px #624b0b;
        }
      }//pc
    }//a
  }//nav
}//mainvisual

/* --------------------------------
skill
-------------------------------- */
#skill {
  .section-title {
    @include mq(sp) {
      width: 18.4%;
    }
  }

  .skill-contents {
    
    @include mq(pcall) {
      display: flex;
      justify-content: space-between;
      text-align: left;
    }//pc
  }//skill-contents

  .skill-read {
    @include mq(sp) {
      margin-bottom: 9.3vw;
    }//pc

    @include mq(pcall) {
      margin-bottom: 60px;
      width: 48%;
    }//pc

    P {
      & + p{
        @include mq(pcall) {
          margin-top: 40px;
        }//pc
      }
    }
  }//skill-read

  .skill-list {
    margin-left: auto;
    @include mq(sp) {
      width: 100%;
      padding-bottom: 20vw;
    }//pc
    li {
      background-repeat: no-repeat;
      background-position: left center;
      @include mq(sp) {
        background-size: 5.7vw 5.7vw;
        line-height: 5.7vw;
        padding-left: 8vw;
      }//pc
      @include mq(pcall) {
        background-size: 43px 43px;
        line-height: 43px;
        padding-left: 60px;
      }//pc
      & + li {
        margin-top: 30px;
      }

      &.ps {
        background-image: url(../image/ico-ps.png);
      }
      &.ai {
        background-image: url(../image/ico-ai.png);
      }
      &.xd {
        background-image: url(../image/ico-xd.png);
      }
      &.edit {
        background-image: url(../image/ico-edt.png);
      }
      &.git {
        background-image: url(../image/ico-git.png);
      }
    }//li
  }//skill-list
}//skill

/* --------------------------------
works
-------------------------------- */
#works {
  @include mq(sp) {
    padding: 0 0 20vw;
  }//pc
  @include mq(pcall) {
    padding: 0 0 200px;
  }//pc

  .works-read {
    font-size: 1.8rem;
    @include mq(sp) {
      padding: 0 0 6.6vw;
    }//pc
    @include mq(pcall) {
      padding: 0 0 50px;
    }//pc
  }

  .newworks {
    position: relative;
    width: 88.7%;
    margin: 0 auto;
    @include mq(sp) {
      padding: 7vw 0 14vw;
    }//pc
    @include mq(pcall) {
      padding: 80px 0 150px;
    }//pc

    .newworks-img {
      position: relative;
      z-index: 55;
    }

    a {
      color: #4E4E4E;

      &:hover {
        .newworks-text {
          box-shadow: none;
          border: #23556A solid 1px;
        }
      }
    }

    .newworks-text {
      box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
      @include transition-anime04;
      @include mq(sp) {
      }//pc
      @include mq(pcall) {
        top: 140px;
        position: absolute;
        background-color: #fff;
        right: 0;
        width: 90%;
      }//pc
      dl {
        line-height: 2;
        @include mq(sp) {
          width: 80%;
          padding: 10vw 0;
          margin: 0 auto;
        }//pc
        @include mq(pcall) {
          padding: 50px 0;
          width: 43%;
          margin-left: auto;
        }//pc

        dt {
          font-size: 2.2rem;
        }
      }
    }
  }

  .works-list {
    @include mq(pcall) {
      display: flex;
      -moz-column-gap: 35px;
      column-gap: 35px;
    }//pc

    li {
      @include mq(sp) {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        border-bottom: $main-color solid 10px;

        & + li {
          margin-top: 16vw;
        }
      }//sp

      @include mq(pcall) {
        width: 31.35%;
        border-bottom: $main-color solid 10px;
      }//pc
    }

    a {
      color: #4E4E4E;

      @include mq(pcall) {
        @include transition-anime04;
        &:hover {
          opacity: .7;
        }
      }//pc
    }

    .works-text {
      @include mq(sp) {
        padding: 6vw 4vw 6.5vw;
      }//sp
      @include mq(pcall) {
        padding: 30px 30px 36px;
      }//pc
    }//works-text
  }//works-list
}//works

/* --------------------------------
about
-------------------------------- */
#about {
  @include mq(sp) {
    padding: 0 0 20vw;
  }//sp
  @include mq(pcall) {
    padding: 0 0 170px;
  }//pc

  .about-career {
    @include mq(pcall) {
      background: url(../image/line-career.png) no-repeat center top;
      height: 540px;
      width: 120px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
    }//pc
    
    p {
      @include mq(sp) {
        margin-bottom: 15vw;
        text-align: center;
        position: relative;

        &::before {
          display: block;
          content: "";
          border-radius: 10px;
          background-color: $main-color;
          width: 3px;
          height: 10vw;
          position: absolute;
          bottom: -12vw;
          left: 50%;
          transform: translateX(-50%);
        }
        &:last-child {
          margin-bottom: 0;
          &::before {
            display: none;
          }
        }
      }//sp
      @include mq(pcall) {
        position: absolute;
        width: 31.25vw;
        &:nth-child(odd) {
          text-align: right;
        }
      }
    }//p

    @include mq(pcall) {
      .career01 {
        top: 38px;
        right: 134px;
      }
      .career02 {
        top: 114px;
        left: 134px;
      }
      .career03 {
        top: 213px;
        right: 134px;
      }
      .career04 {
        top: 280px;
        left: 134px;
      }
      .career05 {
        top: 360px;
        right: 134px;
      }
      .career06 {
        top: 450px;
        left: 134px;
      }
    }
    
  }//about-career
}//about